/* =============
    Layout 
================ */

/* Main */
.filler {
  padding-top: 0px;
}

.filler-2 {
  padding-top: 70px;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/img/hero_img.jpg") no-repeat center center/cover;
  z-index: -1;
}

.hero-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
}

/* Index html main section */
main {
  display: flex;
  flex-direction: column;
  background: var(--background--main-container);
}

main :nth-child(1) {
  order: 1;
}

main :nth-child(2) {
  order: 2;
}
main :nth-child(3) {
  order: 4;
}
main :nth-child(4) {
  order: 3;
}
main :nth-child(5) {
  order: 5;
}
main :nth-child(6) {
  order: 6;
}

main .main-img:first-child {
  padding-top: 70px;
}

main .main-p {
  padding: 2em;
}

/* Takeaway main section */

.ta-main {
  background: var(--background--main-container);
  padding-bottom: 3rem;
}

.ta-main h1 {
  padding: 0.5em 0;
  text-align: center;
  color: var(--text-secondary);
}

.ta-main h2 {
  padding: 0.5em 1em;
  color: var(--text-ta-h2);
  width: fit-content;
  cursor: pointer;
  margin: auto;
}

.ta-main h2 i {
  font-size: 1.5rem;
  padding: 0 0.5em;
}

.ta-main ul {
  border-bottom: 1px solid var(--ta-border);
}

.ta-main ul:last-child {
  border: none;
}

.ta-main .ta-grid .card {
  display: flex;
  align-items: center;
  padding: 0;
  flex-direction: row;
}
.ta-main ul li {
  border-bottom: 1px dotted var(--text-secondary);
}

.ta-main ul li:last-child {
  border: none;
}

.ta-main .cans {
  font-size: 1.4rem;
  padding: 0.2em 2.57em;
  font-weight: 600;
}
.ta-main .price {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 0.2em 1em;
}

.ta-main .card-btn {
  position: relative;
  margin: 1em 2em;
  padding: 0.8em 1.5em;
  border-radius: 10px;
  background: linear-gradient(rgb(19, 158, 217), rgb(19, 108, 217));
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 1;

  --border-size: 2px;
}

.ta-main .card-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgb(19, 108, 217), rgb(19, 158, 217));
  border-radius: 10px;
  z-index: -1;
  transition: top 0.2s ease-in-out;
}

.ta-main .card-btn:hover:before,
.ta-main .card-btn:focus:before {
  top: 65px;
}

/* Take away main section - Hiding ul items and showing them on Focus state */

.ta-main ul li {
  display: none;
}

.ta-main ul:focus li {
  display: block;
  outline: none;
}

/* Contact us main section */
.cu-main h1 {
  padding-top: 100px;
  padding: 0.5em 0;
  text-align: center;
  color: var(--text-secondary);
}

/* Contact form */

.form-container form {
  margin: 0 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted var(--text-secondary);
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea {
  border: none;
  appearance: none;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 0px;
  padding: 1em 1em;
  outline: none;
  font-size: 14px;
  line-height: 1;
  vertical-align: bottom;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: var(--background-main);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.custom-field:nth-child(4) .placeholder,
.custom-field textarea:invalid + .placeholder {
  position: absolute;
  left: 12px;
  top: 36px;
  color: var(--background-main);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field textarea:focus + .placeholder,
.custom-field textarea:valid + .placeholder {
  top: 10px;
  font-size: 12px;
  opacity: 1;
  color: var(--text-ta-h2);
  align-self: center;
}

.custom-field input:focus,
.custom-field input:valid,
.custom-field textarea:focus,
.custom-field textarea:valid {
  color: var(--text-ta-h2);
}

.custom-field .border {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  border-radius: 0px;
}

.custom-field .border::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-radius: 0px;
  border-bottom: 0px solid var(--text-ta-h2);
  border-right: 0px solid var(--text-ta-h2);
  transition: border-width 0s ease 1.2s, width 0.3s ease 0.9s,
    height 0.3s ease-in 0.6s;
}

.custom-field .border::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0px;
  border-top: 0px solid var(--text-ta-h2);
  border-left: 0px solid var(--text-ta-h2);
  transition: border-width 0s ease 0.6s, width 0.3s ease 0.3s, height 0.3s ease;
}

.custom-field input:valid ~ .border:before,
.custom-field input:focus ~ .border:before,
.custom-field textarea:focus ~ .border:before,
.custom-field textarea:valid ~ .border:before {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--text-ta-h2);
  border-right: 2px solid var(--text-ta-h2);
  transition: width 0.3s ease, height 0.3s ease 0.3s;
}

.custom-field input:valid ~ .border:after,
.custom-field input:focus ~ .border:after,
.custom-field textarea:focus ~ .border:after,
.custom-field textarea:valid ~ .border:after {
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--text-ta-h2);
  border-left: 2px solid var(--text-ta-h2);
  transition: border-width 0s ease 0.6s, width 0.3s ease 0.6s,
    height 0.3s ease 0.9s;
}

.form-container button {
  margin: 0.5rem 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-size: 1rem;
  color: rgb(19, 108, 217, 0.6);
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-container button:hover,
.form-container button:focus {
  background: var(--text-ta-h2);
  color: #fff;
}

/* Google maps */

.map-wraper {
  max-width: 100%;
  margin: 1rem 0.5rem;
}

.google-map {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

/* Address */

.address .details,
.address .open-times {
  margin: 0 2%;
}

.address h3 {
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--text-secondary);
}

.address p {
  padding: 0.5em 1em;
  color: var(--text-secondary);
}

/* Footer */

footer {
  width: 100%;
  background: var(--background-main);
}

footer .footer-social {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-social);
}

footer a {
  padding: 0 1rem;
  color: var(--text-social);
}

footer a:hover {
  color: #fff;
}

footer > div {
  padding-bottom: 1rem;
  text-align: center;
  color: var(--text-social);
  font-weight: 600;
}

/* Media Query */

@media (min-width: 475px) {
  .address {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 670px) {
  .wraper2 .ta-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }

  .filler {
    padding-top: 70px;
    /* margin-bottom: 2rem; */
  }

  .wraper {
    width: 90%;
    max-width: 1024px;
    margin: auto;

    padding: 2rem 1rem;
    background: rgb(241, 239, 239, 0.6);
  }

  .wraper img {
    border-radius: 20px 0 0 20px;
    opacity: 0.9;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 1rem 0;
  }

  main .main-img {
    padding: 0;
  }

  main .main-p {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: rgb(241, 239, 239, 0.6);
    border-radius: 0 20px 20px 0;
    border-top: 1px solid var(--text-secondary);
    border-bottom: 1px solid var(--text-secondary);
  }

  main .main-p h2 {
    font-size: 1.5rem;
  }

  main .main-p:nth-child(3) h2 {
    display: flex;
    order: -1;
  }

  main .main-img:first-child {
    padding-top: 0;
  }

  .grid .main-p:nth-child(3) {
    order: 2;
    border-radius: 20px 0 0 20px;
  }

  .wraper .main-img:nth-child(4) img {
    border-radius: 0 20px 20px 0;
  }
  /* Take away price padding on sides increased */

  .ta-main .price {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* Contact us Address details */

  .address .details,
  .address .open-times {
    margin: 0 8%;
  }
}
@media (min-width: 869px) {
  main .main-p h2 {
    font-size: 2rem;
    padding: 0.1rem 0;
    line-height: 1.2;
  }

  main .main-p {
    padding: 1.9em;
    border-top: 2px solid var(--text-secondary);
    border-bottom: 2px solid var(--text-secondary);
    /* justify-content: flex-start; */
  }

  /* Take away content*/

  .ta-main .cans {
    display: none;
  }

  .ta-main {
    width: 80%;
    margin: auto;
    background: rgb(241, 239, 239, 0.6);
    padding-bottom: 3rem;
  }

  .ta-main ul li {
    border: none;
  }
  .ta-main .ta-grid {
    margin: 0 2rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 250px));
    grid-column-gap: 1rem;
    justify-content: center;
  }

  .ta-main .ta-grid .card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-height: 200px;
    border-radius: 15px;
    background: var(--background-secondary);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
    box-shadow: inset 0px 0px 3px 1px rgb(192, 192, 192);
  }

  .ta-main .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-weight: 800;
  }

  .ta-main .card-btn {
    position: relative;
    margin: 0;
    width: 100%;
    padding: 0.8em 1.5em;
    padding-top: 20%;

    border-radius: 0 0 15px 15px;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(rgb(19, 158, 217), rgb(19, 108, 217));
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    z-index: 1;
  }

  .ta-main .card-btn:hover {
    padding-top: 25%;
    font-size: 1.2rem;
  }

  .ta-main .card-btn:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    height: 100%;
    background: rgb(19, 138, 217);
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
    border-radius: 0;

    z-index: -1;
    transition: top 0.2s ease-in-out;
  }

  .ta-main .card-btn:hover:before,
  .ta-main .card-btn:focus:before {
    top: -55px;
  }

  /* Contact us page */

  .cu-main {
    width: 80%;
    max-width: 1024px;
    margin: auto;
    background: rgb(241, 239, 239, 0.6);
  }

  .form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    background: rgb(241, 239, 239, 0.6);
    border: none;
    border-radius: 20px;
    padding: 1rem 1rem;
  }

  .form-container label:nth-child(3) {
    grid-column: 1 / 3;
  }

  .form-container label:nth-child(4) {
    grid-column: 1 / 3;
    margin-bottom: 25px;
  }

  .form-container button {
    grid-column: span 2 / 3;
    margin: 0;
  }

  .map-wraper {
    border-bottom: none;
  }
  .map-wraper .google-map {
    padding: 1rem;
    background: rgb(241, 239, 239, 0.6);
    border-radius: 20px;
  }

  .map-wraper .address {
    padding: 2rem 1rem;
    background: rgb(241, 239, 239, 0.6);
    border-radius: 20px;
    margin: 0;
  }
}

@media (min-width: 1051px) {
  /* Contact us Content */

  /* Form */
  .form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    background: rgb(241, 239, 239, 0.6);
    border: none;
    border-radius: 20px;
    padding: 1rem 1rem;
  }

  .form-container label:nth-child(3) {
    grid-column: 3 / 4;
  }

  .form-container label:nth-child(4) {
    grid-column: 1 / 4;
  }

  .form-container button {
    grid-column: span 3 / 4;
    margin: 0;
  }

  /* Map section */

  .map-wraper .address {
    padding: 2rem 10%;
  }
}
